.card {
    background-color: var(--color-grey-800);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    text-align: center;
    border-radius: .5rem;
}

img {
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.name {
    color: var(--color-white);
    margin-bottom: .7rem;
    font-size: 2.5rem;
}

.location {
    color: var(--color-green);
}

.paragraph {
    margin: 2rem 0 2rem 0;
    color:rgba(255, 255, 255, 0.758);
}

.links {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}




.links a {
    background-color: var(--color-grey-700);
    color: white;
    text-decoration: none;
    font-weight: 600;
    width: 25rem;
   padding: 1rem ;
border-radius: .5rem;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover {
    background-color: var(--color-green);

    color: var(--color-grey-800);
}

