.card {
    background-color: var(--color-grey-800);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
}

img {
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.name {
    color: var(--color-white);
    margin-bottom: .7rem;
    font-size: 3rem;
}

.location {
    color: var(--color-green);
    font-size: 1.8rem;
}

.paragraph {
    margin: 2rem 0 2rem 0;
    color:rgba(255, 255, 255, 0.758);
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 01rem;
}

.links div {
    overflow: hidden;
    background-color: var(--color-grey-700);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;

}

.links div a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    height: 8vh;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links div a:hover {
    background-color: var(--color-green);

    color: var(--color-grey-800);
}

@media screen and (max-width:450px) {
    .card {
        width: 90%;
    }

    .paragraph {
        font-size: 1.5rem;
    }

}